<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="center">{{ title }}</h1>
    </div>
    <div class="col-12">
      <form action="">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
          </div>
          <input type="text" class="form-control" aria-label="Sizing example input" #search [formAction]="searchControl" (keyup.enter)="ngOnInit()"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </form>
    </div>
    <div class="col-12">
      <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"  [fullscreenControl]="fullscreenControl"
        (mapClick)="expression($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [animation]="animation">
          <agm-info-window>Direccion</agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="center">{{ title2 }}</h1>
    </div>
    <div class="col-12">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-direction [origin]="origin" [destination]="destination"  [renderOptions]="renderOptions"  [markerOptions]="markerOptions" ></agm-direction>
          </agm-map>

    </div>
  </div>
</div>